// Brand
$primary-blue: #224dde;

// Neutrals
$neutrals-900: #0e041a;
$neutrals-150: #e4e3e5;
$neutrals-800: #242128;
$neutrals-100: #f0eff0;
$neutrals-700: #413e44;
$neutrals-50: #f8f7f8;
$neutrals-600: #656368;
$neutrals-25: #fbfbfb;
$neutrals-500: #817f83;
$neutrals-400: #b3b1b4;
$neutrals-300: #c9c8ca;
$neutrals-200: #d8d7d9;

// Others
$green: #19c33f;
$secondary-pink: #fe4672;
$yellow: #f4b30a;
$tertiary-red: #fe4949;
$blue-light: #2f9bff;
