.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .dialog {
        width: 100%;
        max-width: 382px;
    }

    .topBar {
        color: #0E041A;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: -0.134px;
        margin-bottom: 45px;

        &.errorWrapedTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .eyeButton {
        padding: 15px;

        svg {
            height: 18px;
            width: 18px;
        }

        &:hover {
            background-color: transparent;
        }
    }

    .setpasswordbtn {
        margin-top: 35px;
    }
}