.formText {
    color: #6c757d;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.19px;
    line-height: 15px;
    margin-top: 12px;
    text-align: center;
}

.invalid {
    color: #ff5858;
}